body {
    background-color: #2e455a !important;
    margin: 0;
    padding: 0;
}

.navbar.bg-body-tertiary {
    background-color: #5480ac !important;
    height: 128px;
}

.white-color {
    color: white !important;
}

.btn.btn-outline-success {
    color: white !important;
    border-color: white !important;
}

.container-fluid img {
    height: 80px;
}

footer {
    background-color: #376491 !important;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.content {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 16px;
    justify-content: center;
}

.card-cover {
    width: 260px;
    height: 290px;
    padding: 16px;
    border: 1px solid #dddddd5b;
    border-radius: 12px;
    background: #53437969;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-header h5 {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.5)
}

.card-header h4 {
    font-size: 1.1rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.9)
}

.pokemon-image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: #f4f4f45d;
    border: 1px solid #eeeeee9d;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.pokemon-image img {
    width: 140px;
    height: 140px;
    object-fit: contain;
}

.attributes {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.attributes img {
    width: 28px;
    height: 28px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.load-more {
    padding: 30px;
    margin: 20px;
    border-radius: 28px;
    border: none;
    background-color: #388b8bdb;
    color: #fff;
    width: 220px;
    font-size: 20px;
    font-weight: bold;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(160, 98, 129);
    transition: opacity 0.75s, visibility 0.75s;
    display: none;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader img {
    width: 350px;
    height: 350px;
    animation: spin 1.75s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}